:root{
    --gris: #eeeeee;
    --turquesa: #addbd4;
    --neon: #393e46;
    --neon-x: #222831;
}
html{
    scroll-behavior: smooth;
}

.text-turquesa{
    color: var(--turquesa);
}
body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.gris{
    background-color: var(--gris) !important;
}

.bg-success{
    min-height: 89vh;
    max-height: 1000px;

}

.blue-gradient{
    border-radius: 50px;
    color: var(--gris) !important;
    text-align: center;
    width: 120px;
    height: 30px;
}
.turquesa{
    background-color: var(--turquesa);
}

.pantalla-contacto{
    background-image: url('../fonts/sunrise-1030600_1280.jpg');
    background-position: center center;
    background-size: cover;
    height: 500px;
}
.navbar{
    box-shadow: 0px !important;
}

.store-boton{
    background-color: #eeeeee;
    height: 50px;
    width: 70px;
    border-radius: 50px;
}

.tamaño-imagen{
    height: 450px;
}
.cargar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(209, 207, 207, 0.521);
}

#centro {
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%);
}

.pantalla-header {
    background: linear-gradient(95deg, #25ddf5 40%, #5533ff 100%) !important;
    /**background-image: url('../fonts/1846-color-pastel.jpg');**/
    background-position: center center;
    background-size: cover;
    height: 600px;
    
}

.text-contenido{
    color: #4fc3f7;
}

.text-title{
    color: #e65100;
}

@media (max-width: 575.98px) {
    .pantalla-header{
        height: 700px;
    }
}

@media (max-width: 375px) {
    .pantalla-header{
        height: 600px;
    }
}
.text-oscuro{
    color: var(--neon-x) !important;
}

.text-gris{
    color: var(--gris) !important;
}

:root{
    --red: rgb(21, 153, 241);
    --red-x: rgb(21, 153, 241);
}

#carillaInformativa{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}


.borde-1{
    border: 4px solid rgb(42, 63, 53) !important;
    border-radius: 20px !important;
    margin: 23px 15px;
    background-color: rgb(216, 212, 212);
}
.borde-2{
    border: 4px solid rgb(42, 63, 53) !important;
    border-radius: 15px !important;
    margin: 15px 15px;
}

.cabecera{
    background-image: url(../img/autopista.jpg);
    background-position: center;
    background-size: cover;
    border-bottom: 5px solid var(--red);
    height: 250px;
}


.h1{
    font-size: 33px !important;
    text-align: center !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    color: white;
}

.h5{
    font-size: 21px !important;
    text-align: center !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    color: white; 
}
.text-danger{
    color: var(--red-x) !important;
}

.caja{
    display: inline-block;
    background-color: var(--red);
    padding: 0px 7px;
    font-size: 25px !important;
    text-align: center !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    color: white;
    border: 2px solid black;
    
    /* width: 620px; */
}

.bg-danger{
    background-color: var(--red) !important;
}

.text{
    font-size: 19px !important;
}

.text-titulo{
    font-size: 17px !important;
}
.tituloo{
    font-size: 20px !important;
}
.text-titulo1{
    font-size: 16px !important;
}
.text-titulo2{
    font-size: 13px !important;
}

.text-titulo3{
    font-size: 23px !important;
}

.text-titulo4{
    font-size: 20px !important;
}

.text-negro{
    color: black !important;
}

.text-datos{
    font-size: 21px !important;
    text-align: center !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    color: black;
}
.informacion-1{
    border-bottom: 5px solid var(--red);
}

.text-datos1{
    font-size: 22px !important;
    text-align: left !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    color: white;

}

.letra{
    font-size: 18px !important;
}

.width{
    max-width: 750px !important;
}

.barra-nav,.navbar{
    background: linear-gradient(95deg, #25ddf5 40%, #5533ff 100%) !important;
}

.ministerio{
    margin-left: 80px;
}